[Unit]
Description=blaulichtSMS Einsatzmonitor
After=network-online.target graphical.target
Wants=network-online.target graphical.target

[Service]
WorkingDirectory=
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=3
User=

[Install]
WantedBy=default.target
